
<%# @applicaiton %>
<% if @applicaiton.present? %>
  <table id="my-table" border="0" style="border-collapse:collapse" class="table">
  	
    <thead>
    	<tr>
    		<% val = 0 %>
  		  <% @applicaiton.first.each do |key , value| %>
  		   <% if key == "rid" || key == "job_type" || key == "contractor_name" || key == "contractor_title" || key == "created_type"%> 
  	  	  <th> 
  	  	  	<input type="text" id="<%= val %>" placeholder="Filter " class="filter"/>
  	  	  	<%val=val+1%>
  	  	  </th>
  	  	  <%end%>
  	  	<%end%>
      </tr>
  	  <tr>
  	  	<% @applicaiton.first.each do |key , value| %>
  	  	  <% if key == "rid" || key == "job_type" || key == "contractor_name" || key == "contractor_title" || key == "created_type"%> 
  	  	    <th>
  	  	  	<%= key.capitalize %>
  	  	  </th>
  	  	  <%end%>
  	  	<%end%>
  	  </tr>
    </thead>
    <tbody>
  	  <% @applicaiton.each do |key , value| %>	
  	 
  	    <tr>
  	    	<% @value=0%>
  	    	<% key.each do |k,v|  %>
  	    	  <% if k == "rid" || k == "job_type" || k == "contractor_name" || k == "contractor_title" || k == "created_type"%> 
  	    	    <td class="col_<%= @value %>">
  	    	    	<% if k == "rid"%>
  	    	  	    <%= link_to "#{v}" , home_show_path(:app => v) %>
  	    	  	  <%else%>
  	    	  	     <%= "#{v}".html_safe %>
  	    	  	  <%end%>
  	    	  	  <%@value=@value+1%>
  	    	    </td>
  	    	  <%end%>
  	    	<%end%>
  	    </tr>
  	    
  	  <%end%>
    </tbody>
  </table>
<%end %>

<script>

$(function() {   
	$(".filter").change(function(){
		var col_id = $(this).attr("id");
		 $("#my-table td.col_"+col_id+":contains('" + $(this).val() + "')").parent().show();
     $("#my-table td.col_"+col_id+":not(:contains('" + $(this).val() + "'))").parent().hide();
  }); 
});
// $(document).ready(function(){
// 	// Write on keyup event of keyword input element
// 	$("#kwd_search").keyup(function(){
// 		// When value of the input is not blank
//         var term=$(this).val()
// 		if( term != "")
// 		{
// 			// Show only matching TR, hide rest of them
// 			$("#my-table tbody>tr").hide();
//             $("#my-table td").filter(function(){
//                    return $(this).text().toLowerCase().indexOf(term ) >-1
//             }).parent("tr").show();
// 		}
// 		else
// 		{
// 			// When there is no input or clean again, show everything back
// 			$("#my-table tbody>tr").show();
// 		}
// 	});
// });
</script>